@model Domus.Web.Models.RecipeViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    
    <div class="page-header">
        <h2>
            @Model.RecipeTitle
            <small>
                <a href="@Url.Action("EditRecipe",new{recipeId=@Model.RecipeId})" class="glyphicon glyphicon-pencil"></a>
            </small>
        </h2>
        
    </div>

    <p>
        <span class="label label-default">Servings</span><span> @Html.Encode(@Model.Servings)</span> &nbsp;&nbsp;
        <span class="rateit" data-rateit-value="@Html.Encode(@Model.Rating)" data-rateit-ispreset="true" data-rateit-readonly="true"></span>
    </p>
   

    <div class="panel panel-default">
        <div class="panel-heading">Ingredients</div>
        <div class="panel-body">
            @Html.Encode(@Model.Ingredients)
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Directions</div>
        <div class="panel-body">
            @Html.Encode(@Model.Directions)
        </div>
    </div>
    
    <p><span class="label label-default">Source</span> @Html.Encode(@Model.Source)</p>

</div>