@model Domus.Web.Models.RecipeIndexViewModel
<div id="recipeIndexView">
    
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div>
                    <a  href="@Url.Action("CreateNewRecipe")" class="btn btn-primary btn-block" role="button">Create Recipe</a>
                </div>
                <div class="list-group">
                    @foreach (var category in Model.Categories)
                    {
                        <a href="@Url.Action("Index",new{category=@category.Decription})"class="list-group-item">@category.Decription</a>
                    }
                </div>
               
            </div>
            <div class="col-md-10">
                <form role="form" action="@Url.Action("Index")">
                    <div class="input-group form-group">   
                        <input type="text" class="form-control" id="SearchTerms" name="SearchTerms" placeholder="Search text here"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default glyphicon glyphicon-search" type="submit"/>
                        </span>
                    </div>
                </form>
                <div id="searchResults">
                     <ul class="list-unstyled">
                    @foreach (var recipe in Model.SearchResults)
                    {
                        <li>
                            <p><a href="@Url.Action("RecipeDetail",new{recipeId=recipe.RecipeId})">@recipe.Name</a></p>
                        </li>
                    }
                </ul>
                </div>
            </div>
        </div>
    </div>

</div>
