@model Domus.Web.UI.Models.Recipes.SelectedRecipeViewModel

@{
    ViewBag.Title = Model.Recipe.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="recipeSearch">
@using (@Html.BeginForm("Index", "Recipe"))
{
    @Html.TextBoxFor(m=>m.SearchText)
    <input type="submit" value="Search"/>
}
</div>

<div id="recipeCategories">
    @Html.Partial("Categories",Model.Categories)
</div>

<div id="recipeDetails">

    @Html.HiddenFor(model => model.Recipe.RecipeId)

    <div class="display-title">
        @Html.DisplayFor(model => model.Recipe.Name)
        &nbsp;&nbsp;@Html.Partial("RatingWidget",Model.Recipe.Rating.GetValueOrDefault())
        &nbsp;&nbsp;@Html.ActionLink("(Edit)", "Edit", new { recipeId = Model.Recipe.RecipeId })
    </div>

    <div class="display-label">Servings:&nbsp;@Html.DisplayFor(model => model.Recipe.Servings)</div>

    <div class="display-label">Ingredients</div>
    <div class="display-field">@Html.Display(Model.Recipe.Ingredients.Replace(Environment.NewLine, "<br/>"))</div>

    <div class="display-label">Directions</div>
    <div class="display-field">@Html.Display(Model.Recipe.Directions.Replace(Environment.NewLine, "<br/>"))</div>

    <div class="display-label">Source:&nbsp;
        @if (Model.Recipe.Source != null && 
            Model.Recipe.Source.StartsWith("http"))
        {
            <a href="@Model.Recipe.Source" target="new">@Model.Recipe.Source</a>
        }
        else
        {
            @Html.DisplayFor(model => model.Recipe.Source)
        }
     
     </div>
</div>


