@model Domus.Web.UI.Models.Recipes.RecipeViewModel

@{
    ViewBag.Title = string.Format("Domus: {0} Recipe",Model.Name);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <table width="20%"></table>
    <table width="80%">
        <tr>
            <td> @Html.ActionLink("Back to List", "Index")
                <br />
            </td>
        </tr>
        <tr>
            <td class="display-title">@Html.Encode(Model.Name)</td>
        </tr>
        <tr>
            <td>
                 @for (var count = 0; count < Model.Rating; count++)
                 {
                     <img src="@Url.Content("~/Content/rating_star.png")"></img> 
                 }
            </td>
        </tr>
        <tr>
            <td class="display-field">Servings:&nbsp;@Html.Encode(Model.Servings)<br /><br /></td>
        </tr>
         <tr>
            <td class="display-label">Ingredients</td>
        </tr>
        <tr>
            <td class="display-field">@Html.Encode(Model.Ingredients).Replace(Environment.NewLine,"<br/>")<br /><br /></td>
        </tr>
        <tr>
            <td class="display-label">Directions</td>
        </tr>
        <tr>
            <td class="display-field">@Html.Encode(Model.Directions).Replace(Environment.NewLine,"<br/>")<br /><br /></td>
        </tr>
         <tr>
            <td class="display-label">Source</td>
        </tr>
        <tr>
            <td class="display-field">
                @if(Model.Source.ToLower().StartsWith("http")) {
                    <a href="@Model.Source" target="new">@Model.Source</a>
                }
                else {
                    @Html.Encode(Model.Source)
                }</td>
        </tr>
    </table>

<p>
    @Html.ActionLink("Edit", "Edit", new { recipeId = Model.RecipeId }) |
    @Html.ActionLink("Search", "Index")
    @Html.ActionLink("Delete", "Delete", new { recipeId = Model.RecipeId })
</p>
